<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="application.css">

    <title>AgendCar - Login</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,11,11,1) 65%, rgba(0,212,255,1) 100%);
            margin: 0;
            padding: 0;
            position: relative;
            overflow: hidden;
        }

        .background-svg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
        }

        .login-container {
            background: rgb(3,3,3);
            background: linear-gradient(264deg, rgba(3,3,3,1) 25%, rgba(32,32,34,1) 57%, rgba(59,64,65,1) 89%);
            border-radius: 10px;
            box-shadow: 0px 4px 12px rgb(0, 0, 0);
            padding: 30px;
            width: 350px;
            text-align: center;
            margin: 100px auto;
            position: relative;
            z-index: 1;
        }

        .logo {
            margin-bottom: 20px;
            height: 50px;
            background-color: #eee;
        }

        h1 {
            color: #186880;
            font-size: 24px;
            margin-bottom: 30px;
        }

        .input-group {
            margin-bottom: 20px;
            text-align: left;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #555;
            font-weight: bold;
        }

        input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .login-button {
            background-color: rgba(51, 51, 51, 1);
            color: white;
            border: none;
            padding: 12px;
            width: 100%;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
            font-size: 16px;
            margin-top: 10px;
        }

        .login-button:hover {
            background-color: rgba(6, 37, 53, 1);
        }

        .register-link {
            display: block;
            margin-top: 15px;
            color: #555;
            text-decoration: none;
        }

        .register-link:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <svg class="background-svg" viewBox="0 0 1920 795" height="870" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop offset="15%" stop-color="#020024" />
                <stop offset="65%" stop-color="#209be4" />
                <stop offset="100%" stop-color="#00d4ff" />
            </linearGradient>
        </defs>
        <path
            d="M0,10 
               C300,650 400,700 900,200
               C1200,400 1200,1000 1920,200 
               L1920,795 
               L0,1200 
               Z"
            fill="url(#gradient)"S
        />
    </svg>
    <div class="login-container">
        <div class="logo"> <img src="images/" alt=""></div>
        <h1>AgendCar - login</h1>

        <div class="input-group">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Digite seu email">
        </div>

        <div class="input-group">
            <label for="password">Senha</label>
            <input type="password" id="password" placeholder="Digite sua senha">
        </div>

        <button class="login-button">Entrar</button>

    </div>
</body>
</html>
